<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login.Properties.Settings.cSharpConnectionString"
            connectionString="Data Source=ALEXXXX\MSSQLSERVER04;Initial Catalog=cSharp;Persist Security Info=True;User ID=sa;Password=dream1012;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="login.Properties.Settings.qlsvConnectionString" connectionString="Data Source=alexxxx\MSSQLSERVER04;Initial Catalog=qlsv;Persist Security Info=True;User ID=sa;Password=dream1012;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>